#root {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #965fe4;
    background: linear-gradient(45deg, #9152bd, #ff9068);
    height: 100vh;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
}


.app-wrapper {
    min-width: 380px;
    max-width: 50%;
    min-height: 480px;
    max-height: 100%;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(25, 25, 25, 0.25);
    padding: 3rem;
}

.todo-title{
    margin-bottom: auto;
    margin-top: 0;
    line-height: 1;
    font-size: 30px;
}

.item {
    color: black;
    line-height: 1.5;
    font-size: 25px;
    padding: 0 204px 0 15px;
    border-bottom: 1px solid grey;
    margin-bottom: 15px;

}
p {
    font-size: 23px;
}

input{
    width: 100%;
    border-radius: 5px;
    padding-right: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 16px;
    background: #e8ebed;
    margin: 0 auto;
    margin-right: 19px;
    text-align: left;
    outline: 0;
    border: 2px solid #e8ebed;
    transition: background .25s ease-out;

}

.form-wrapper {
    display: flex;
}

.todo-list-wrapper{
    overflow-x: hidden;
}


.add-todo-btn{
    background-color: #4448e6bf;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 0px 29px;
    outline: none;
}

.clear-todo-btn {
    background-color: #e64944;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 8px 8px;
    margin-top: 23px;
    outline: none;
}



.item.completed {
    color: grey;
    text-decoration: line-through;
  }